.burger {
  width: 100%;
  height: 40px;
  background: $white;
  display: none;

  &__cross {
    display: none;
  }

  &__button {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    & .icon-bar {
      position: relative;
      display: inline-flex;
      width: 100%;
      height: 4px;
      background: $black;
      border-radius: 2px;

      &:nth-child(2){
        margin-top:2px;
      }
      &:nth-child(3){
        margin-top:2px;
      }
    }

    &-container {
      width: 30px;
      height: 100%;
      margin: 0 auto;
    }
  }
}
